@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
}

iframe{
    position: absolute;
    top: 0;
    z-index: -1;
}

#navbar{
    width: 100%;
    height: 4em;
    display: flex;
    z-index: 50;
    position: absolute;
    top: 0;
    background-color: black;
}

.box{
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo{
    width: 120px;
}

#search{
    display: flex;
    align-items: center;
    justify-content: center;
    height: min-content;
}

#search input{
    border: 2px solid yellow;
    background-color: transparent;
    border-radius: 50vh 0 0 50vh;
    padding: 2px 4px 2px 4px;
    color: yellow;
}

#search button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    border-radius: 0 50vh 50vh 0;
}

#search button img{
    width: 24px;
}

.box:nth-child(3) ol{
    display: flex;
}

.box:nth-child(3) ol li{
    display: block;
    padding: 1em;
}

.box:nth-child(3) ol li a{
    text-decoration: none;
    color: white;
    transition: 0.3s linear;
}

.box:nth-child(3) ol li a:hover{
    color: yellow;
}

#leftsubsec{
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s linear;
    color: white;
}

#leftsubsec h4{
    color: inherit;
    padding-bottom: 2px;
    font-weight: bold;
}

#leftsubsec select:focus{
    border: 1px solid transparent;
}

#leftsubsec select option{
    color: black;
}

#leftsubsec div{
    padding: 1em;
    /* border: 1px solid white; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: 0.3s linear;
    color: white;
}

#leftsubsec div a{
    text-decoration: none;
    color: white;
}

#leftsubsec div img {
    width: 50px;
}

#rightsubsec{
    width: 20%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rightboxes{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 200px;
    padding: 1em;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 1em;
    color: white;
    transition: 0.3s linear;
}

.rightboxes img{
    width: 70px;
}

.rightboxes h4{
    color: inherit;
    text-align: center;
}

.rightboxes:hover{
    background: white;
    color: black;
}

.ref{
    width: 100%;
    height: 100vh;
    padding-top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: rgba(255, 255, 255, 0.3);
    height: 50%;
    width: 20%;
    margin: 0 2em 0 2em;
    border-radius: 2em;
    padding: 2em;
    text-align: center;
    backdrop-filter: blur(4px);
}

.card:nth-child(2){
    height: 56%;
}

.hero{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: row;
}

.edgewindows{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 8988;
}

.edgewindows a{
    text-decoration: none;
    color: white;
}

.edgewindows h4{
    color: white;
    padding-bottom: 5px;
    font-weight: bold;
}

#centerwindow{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}